<!DOCTYPE html>
<html>
    <head>
        <title>LoginPage</title>
        <link rel = "stylesheet" href = "../static/css/style.css">
    </head>
    <body>
        <div class = "top-nav">
            <nav>
                <ul>
                    <li><a href = "/">Home</a></li>
                    <li><a href = "/register">Register</a></li>
                    <li><a href = "/login">Login</a></li>
                    <li><a href = "/about">About</a></li>
                </ul>
            </nav>
        </div>
        <div class = "side-nav">
            <nav>
                <ul>
                    <li>Movies</li>
                    <li>Series</li>
                    <li>Shows</li>
                    <li>Sports</li>
                </ul>
            </nav>
        </div>
        <div class="log-div">
            <h1>You are in login page</h1>
        </div>
        <div class = "bottom">
            <p>&copy; Copyright 2024 All rights reserved | Developed by Seethamahalakshmi Naripeddi</p>
        </div>
    </body>
</html>